.circulo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.c1 {
    width: 150px;
    height: 150px;
    background-color: rgb(218, 9, 9);
    border-radius: 100px;
}

.c2 {
    width: 150px;
    height: 150px;
    background-color: rgb(238, 218, 42);
    border-radius: 100px;
}

.c3 {
    width: 150px;
    height: 150px;
    background-color: rgb(39, 180, 27);
    border-radius: 100px;
}

.flex-column {
    flex-direction: column;
}